/* reset da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  outline: none;
}

/* definindo variáveis */
:root {
  --white: white;
  --regular-purple: #771AC9;
  --regular-light-purple: #821DDB;
  --light-purple: #8D1CF5;
  --gray: #F0F1F5;
  --black: #202020;
  
  --tag-gray:#342745;
  --tag-regular-purple: #512090;
  --tag-light-purple: #9060CB;
  --tag-white-purple: #88A0D5;
}

/* header */
header {
  width: 100%;
  height: 300px;
  background: var(--regular-purple);
  display: flex;
  justify-content: center;
}

.header-container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}

.header-primeira-linha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* perfil usuario */

.perfil-usuario {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.perfil-usuario .perfil-imagem {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--regular-light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-usuario .perfil-informacoes {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

.perfil-usuario .perfil-informacoes .span-fino {
  font-size: 18px;
  color: var(--white);
  font-weight: 400;
}

.perfil-usuario .perfil-informacoes .span-grosso {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

/* ocultar valores */

.ocultar-valores {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: var(--regular-light-purple);
  padding: 10px 20px;
  border-radius: 6px;
  transition: .3s;
}

.ocultar-valores:hover {
  background: var(--light-purple);
}

.ocultar-valores span {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

/* header segunda linha */

.header-segunda-linha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.header-segunda-linha .header-card {
  width: 280px;
  height: 90px;
  background-color: var(--regular-light-purple);
  padding: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-segunda-linha .header-card .header-card-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header-segunda-linha .header-card .header-card-info .span-fino {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

.header-segunda-linha .header-card .header-card-info .span-grosso {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
}

/*  header card button */

.header-segunda-linha .header-card button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--regular-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-segunda-linha .header-card button span {
  color: var(--white);
  font-size: 20px;
  font-weight: 200;
}